<div class="add-product">
    <h1>Add New Product</h1>
    <p class="p-message">{{addProductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)"
    class="common-form">
        <input
        type="text"
        class="form-input"
        placeholder="Enter Product Name"
        name="name"
        ngModel
        />
        <input
        type="number"
        class="form-input"
        placeholder="Enter Product Price"
        name="Price"
        ngModel
        />
        <input
        type="text"
        class="form-input"
        placeholder="Enter Product Colour"
        name="colour"
        ngModel
        />
        <input
        type="text"
        class="form-input"
        placeholder="Enter Product Category"
        name="category"
        ngModel
        />
        <textarea
        type="text"
        class="form-input"
        placeholder="Enter Product Description"
        name="description"
        ngModel
        ></textarea>
        <input
        type="text"
        class="form-input"
        placeholder="Enter Product Image"
        name="image"
        ngModel
        />
        <button class="form-button">Add Product</button>

    </form>
</div>
      