<div *ngIf="showLogin" class="Login">
    <h1>Seller Login</h1>
    <form #sellerLogin="ngForm"(ngSubmit)="login(sellerLogin.value)" class="common-form">
        <p class="error-p">{{authError}}</p>
        <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter valid Email</span></p>
        <input class="form-input" type="email" ngModel #email="ngModel" required name="email" placeholder="Enter Email"/>
        <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter correct Password</span></p>
        <input class="form-input" type="password" ngModel #password="ngModel" required name="password" placeholder="Enter Password"/>
        <button [disabled]="sellerLogin.invalid" class="form-button">Login</button>
        <a class="auth-toggle-link" (click)="opensignUp()">Don`t have Account? Click Sign-Up</a>    
    </form>
        </div> 
        <div class="seller-auth">
            <div *ngIf="!showLogin" class="signUp">
        <h1>Seller Sign-Up</h1>
        <form #sellersignUp="ngForm"(ngSubmit)="signUp(sellersignUp.value)" class="common-form">
            <input  class="form-input" required type="text" ngModel #name="ngModel" required name="name" placeholder="Enter Name"/>
            <input class="form-input" required type="password" ngModel #password="ngModel" required name="password" placeholder="Enter Password"/>
            <input class="form-input" required type="email" ngModel #email="ngModel" required name="email" placeholder="Enter Email"/>
            <button class="form-button">signUp</button>
            <a class="auth-toggle-link"  (click)="openLogin()">Already have Account? Click Login</a>
        </form>
</div> 